h1 {
  font-size: 2em;
}

.product-title {
  font-weight: bold;
  font-size: 1.2em;
}

.product-id {
  font-size: .8em;
  margin: 1em 0;
}

.product-edit-icon {
  opacity: .7;
  position: absolute;
  right: 2.3rem;
  top: .4rem;
}

.product-edit-icon:hover {
  opacity: 1;
}

.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch !important;
  display: flex !important;
  
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  }

.navbar-item {
  display: flex !important;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.features {
  padding-bottom: 3em;
}

body {
  visibility: visible !important;
}


.auth form {
  margin-top: 1em;
  max-width: 50%;
}

.buttons {
  margin-left: 1em;
  }

.ium-buttons {
  background-color: #0054A3;
  color: #ffffff;
  justify-content: center;
  padding-top: calc(.375em - 1px);
  padding-bottom: calc(.375em - 1px);
  padding-left: .75em;
  padding-right: .75em;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: none;
  display: flex;
  cursor: pointer;
  height: 2.25em;
  font-size: 16px;
  border: #0054A3;
  font-weight: bold;
  box-sizing: inherit;
}

.ium-buttons:hover {
  background-color: #0030A4;
}

.ium-buttons-light {
  background-color: #0054A3;
  border: #0054A3;
   
}

.ium-buttons-light:hover {
  background-color: #0030A4;
}

